html, body {
    margin: 0;
    background: #1b262c;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}




/* Navigation */
nav {
    background: #2d3a41;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
    border-bottom: 1px solid #1a1a1a;
}

nav .logo {
    padding: 20px;
    transition: all 0.3s ease-in-out 0s;
}

nav .logo:hover {
    opacity: .8;
}

nav .logo a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4em;
    color: #fff;
    font-weight: bold;
}

nav .logo i {
    margin-right: 10px;
    background: #d4477b;
    padding: 10px;
    border-radius: 20px;
}

nav .menu {
    display: flex;
}

nav .menu a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    padding: 31px 20px;
    /* background: #414f57; */
    transition: all 0.3s ease-in-out 0s;
}

nav .menu a:hover {
    background: #b54971;
}

nav .menu i {
    margin-right: 5px;
}

/* 
nav .menu a:nth-child(2n) {
    background: #ca65a2;
}

nav .menu a:nth-child(2n+1) {
    background: #65a7ca;
} */



/* Body Content */
section .container {
    max-width: 1200px;
    margin: auto;
}



/* Footer */
footer {
    background: #242d31;
    border-top: 1px solid #3b3b3b;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 1em;
}

footer p {
    color: #999999;
}

footer .fesb img {
    filter: invert(1) brightness(0.6);
    height: 30px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out 0s;
}

footer .fesb:hover img, footer .fesb img:hover {
    filter: invert(1) brightness(1.0);
}
















/* Loading Icon */
@keyframes loading-icon {
    0% { transform: translate(4px,38px) scale(0); }
   25% { transform: translate(4px,38px) scale(0); }
   50% { transform: translate(4px,38px) scale(1); }
   75% { transform: translate(38px,38px) scale(1); }
  100% { transform: translate(72px,38px) scale(1); }
 }
 @keyframes loading-icon-r {
    0% { transform: translate(72px,38px) scale(1); }
  100% { transform: translate(72px,38px) scale(0); }
 }
 @keyframes loading-icon-c {
    0% { background: #676f75 }
   25% { background: #676f75 }
   50% { background: #676f75 }
   75% { background: #676f75 }
  100% { background: #676f75 }
 }
 .loading-icon div {
   position: absolute;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   transform: translate(38px,38px) scale(1);
   background: #676f75;
   animation: loading-icon 1.4705882352941175s infinite cubic-bezier(0,0.5,0.5,1);
 }
 .loading-icon div:nth-child(1) {
   background: #676f75;
   transform: translate(72px,38px) scale(1);
   animation: loading-icon-r 0.3676470588235294s infinite cubic-bezier(0,0.5,0.5,1), loading-icon-c 1.4705882352941175s infinite step-start;
 }.loading-icon div:nth-child(2) {
   animation-delay: -0.3676470588235294s;
   background: #676f75;
 }.loading-icon div:nth-child(3) {
   animation-delay: -0.7352941176470588s;
   background: #676f75;
 }.loading-icon div:nth-child(4) {
   animation-delay: -1.102941176470588s;
   background: #676f75;
 }.loading-icon div:nth-child(5) {
   animation-delay: -1.4705882352941175s;
   background: #676f75;
 }
 .loading-icon-spinner-ellipsis {
   width: 57px;
   height: 57px;
   margin: auto;
   display: inline-block;
   overflow: hidden;
   display:none;
 }
 .loading-icon {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(0.57);
   backface-visibility: hidden;
   transform-origin: 0 0; /* see note above */
 }

 .loading-icon div { box-sizing: content-box; }